/* src/App.css */
body {
  background-color: #171717;
  color: #FFFFFF;
  font-family: "Titillium Web", sans-serif;
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr); 
  gap: 10px;
}

.content-item {
  padding: 4px;
  text-align: center;
}

.content-item-image {
  width: 100%;
  height: auto;
  aspect-ratio: 2 / 3;
}

.content-item-title {
  font-size: 16px;
  text-align: left;
}

.loading {
  text-align: center;
  margin-top: 20px;
}


/* Content Grid Styles */
.content-grid {
  padding: 10px;
  margin-top: 50px; /* Offset for the fixed search bar */
  height: 100vh; /* or any specific height you want */
  overflow-y: scroll; /* Allow vertical scrolling */
  overflow-x: hidden;
}
.content-grid::-webkit-scrollbar {
  width: 0px; /* Hides the scrollbar */
}

.content-grid::-webkit-scrollbar-thumb {
  background: transparent; /* Prevent showing the thumb */
}

.content-grid::-webkit-scrollbar-track {
  background: transparent; /* Prevent showing the track */
}

/* Fixed Search Bar Container */
.search-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-image: url('https://test.create.diagnal.com/images/nav_bar.png');
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 8px;
  z-index: 1000; /* Ensure it's on top of other elements */
}

/* Back Button Styles */
.back-button {
  background: none;
  border: none;
  cursor: pointer;
}

.back-button img {
  width: 20px;
  height: 20px;
}

/* Search Input Container */
.search-input-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 10px;
}

.search-input {
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: #fff;
  outline: none;  /* Removes the default outline on focus */
  border: none;   /* Removes the border on focus */
}
.search-input::placeholder {
  color: #fff; /* Change this color to whatever you want */
  opacity: 1;  /* Optional: Controls the opacity of the placeholder text */
  font-weight: 300;
  font-family: "Titillium Web", sans-serif;
}

.search-button {
  background: none;
  border: none;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.search-button img {
  width: 20px;
  height: 20px;
}

.end-of-data ,.no-data{
  text-align: center;
  padding: 20px;
}
.no-data{margin-top: 60px;}